version: '2'

services:
  tomcat8:
    build: .
    container_name: tomcat-#BUILDTAG
    ports:
      - "8080"
    networks:
      - net-#BUILDTAG
    environment:
      - DB_HOST=mysql-#BUILDTAG
    links:
      - mysql5
    

  mysql5:
    image: mysql:5.7
    container_name: mysql-#BUILDTAG
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=booking
    networks:
      - net-#BUILDTAG

networks:
  net-#BUILDTAG:
    driver: bridge
